@model PagedList.IPagedList<DemoMVCEntityFramework.Models.Product>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />
<table class="tbproduct" border="0" cellpadding="10">
    <thead>
        <th>
            @*@Html.DisplayNameFor(model => model.ProductName)*@
            @*@Html.ActionLink("ProductID", "tableView", new { sortOrder = ViewBag.NameSortParm})*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Category.CategoryName)*@Product
            @*@Html.ActionLink("CategoryName", "tableView", new { sortOrder = ViewBag.DateSortParm })*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.QuantityPerUnit)*@Category
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UnitPrice)*@Quantity
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UnitsInStock)*@Price
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UnitsOnOrder)*@InStock
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ReorderLevel)*@OnOrder
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Discontinued)*@ReorderLevel
        </th>
        <th>
            Discontinued
        </th>
        <th></th>
    </thead>
    @foreach (var item in Model)
    {
        <tr id="item_@item.ProductID">
            <td>
                @Html.HiddenFor(modelItem => item.ProductID)
                @*@Html.DisplayFor(modelItem => item.CategoryID)*@
                @*@Html.DisplayFor(modelItem => item.ProductID)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @*<button name="btnAdd" id="btnAdd" value="Add to order">
                    <img src="~/Images/1423837216_add.png" width="20" height="20" />
                </button>*@
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })*@
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, categoryID = ViewBag.SelectedCategoryID}))
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnAdd").click(function () {
            $("#btnAdd").disabled();
        });
        $(".tbproduct tbody tr   ").mouseover(function () {
            $this = $(this);
            $(".tbproduct tbody tr   ").removeClass("_selected");
            $this.addClass("_selected");
        });

        $(".tbproduct tbody tr   ").mouseout(function () {
            $this = $(this);
            $(".tbproduct tbody tr   ").removeClass("_selected");
        });
        $(".tbproduct tbody tr   ").dblclick(function () {
            $this = $(this);
            if ($this.length > 0) {
                var jobNum = $this.find("#item_ProductID").val();
                //alert(jobNum);
                window.open('http://localhost:5325/Product/Details?id=' + jobNum, '_self', false)
            }
        });
   });
</script>