@model PagedList.IPagedList<UDI.CORE.Entities.Product>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />
<script type="text/javascript">
    function filter(phrase, _id) {
        var words = phrase.value.toLowerCase().split(" ");
        var table = document.getElementById(_id);
        var ele;
        for (var r = 1; r < table.rows.length; r++) {
            ele = table.rows[r].innerHTML.replace(/<[^>]+>/g, "");
            var displayStyle = 'none';
            for (var i = 0; i < words.length; i++) {
                if (ele.toLowerCase().indexOf(words[i]) >= 0)
                    displayStyle = '';
                else {
                    displayStyle = 'none';
                    break;
                }
            }
            table.rows[r].style.display = displayStyle;
        }
    }
</script>
<form>
    <input name="filt" onkeyup="filter(this, 'tbproduct', '1')" type="text">
</form>
<table class="tbproduct" id="tbproduct" data-role="table" border="0" cellpadding="10" cellspacing="5">
    <thead>
        <th>Check</th>
        <th style="display:none"></th>
        <th>Product test</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>InStock</th>
        <th>OnOrder</th>
        <th>ReorderLevel</th>
        <th>Discontinued</th>
    </thead>
    @foreach (var item in Model)
    {
        <tr id="item_@item.ProductID">
            <td>
                <input type="checkbox" id="ckb_@item.ProductID" onchange="CheckChange($(this));"/>
            </td>
            <td style="display:none">
                @Html.HiddenFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
        </tr>
    }
</table>

<input hidden="hidden" id="hd_lsProducts" />
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, categoryID = ViewBag.SelectedCategoryID}))

@if (Request.IsAuthenticated)
{
    <input type="button" id="btnDeleteMulti" value="Delete" onclick="DeleteMultiItem();" />
}
<br />