@model DemoMVCEntityFramework.Models.Order
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDetails)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Quanlity</th>
                </tr>
                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.Discount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.Quanlity)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "CustomerInfoPage")
</p>