@model DemoMVCEntityFramework.Models.Product
<script>
    $(document).ready(function () {
        $("#dialogform").dblclick(function () {
            document.getElementById("dialogform").close();
        });
    });
</script>
<h2>Details</h2>
<h4>Product</h4>
<table id="tblpro" width="500" border="1" align="left">
        <tr>
            <td>@Html.DisplayNameFor(model => model.ProductName)</td>
            <td>@Html.DisplayFor(model => model.ProductName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Category.CategoryName)</td>
            <td>@Html.DisplayFor(model => model.Category.CategoryName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.QuantityPerUnit)</td>
            <td>@Html.DisplayFor(model => model.QuantityPerUnit)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.UnitPrice)</td>
            <td>@Html.DisplayFor(model => model.UnitPrice)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.UnitsInStock)</td>
            <td>@Html.DisplayFor(model => model.UnitsInStock)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.UnitsOnOrder)</td>
            <td>@Html.DisplayFor(model => model.UnitsOnOrder)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ReorderLevel)</td>
            <td>@Html.DisplayFor(model => model.ReorderLevel)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Discontinued)</td>
            <td>@Html.DisplayFor(model => model.Discontinued)</td>
        </tr>
    </table>
    <div style="text-align:left">
        <input type="number" value="Quantity" id="btnQuantity" placeholder="quantity"/>
        <input type="submit" value="Add to order" id="btnOrder" />
        <input type="button" value="Close" id="btnClose" />
    </div>

