@model DemoMVCEntityFramework.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details - Order</h2>
<table>
    <tr>
        <td>@Html.DisplayNameFor(model => model.OrderDate)</td>
        <td>@Html.DisplayFor(model => model.OrderDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RequiredDate)</td>
        <td>@Html.DisplayFor(model => model.RequiredDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ShippedDate)</td>
        <td>@Html.DisplayFor(model => model.ShippedDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ShipVia)</td>
        <td>@Html.DisplayFor(model => model.ShipVia)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Freight)</td>
        <td>@Html.DisplayFor(model => model.Freight)</td>
    </tr>
</table>

<p>
     @Html.Partial("_OrderDetail", Model.OrderDetails)
</p>
 
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.OrderID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
