@model IEnumerable<UDI.CORE.Entities.Product>
@using PagedList.Mvc;

<form>
    @if (Model != null && Model.Count() > 0)
    {
        <link href="~/Content/PagedList.css" rel="stylesheet" />
        <table data-role="table" border="0" cellpadding="10" cellspacing="5">
            <thead>
            <th style="display:none"></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            </thead>
            @foreach (var item in Model)
            {
                <tr id="item_@item.ProductID">
                    <td style="display:none">
                        @Html.HiddenFor(modelItem => item.ProductID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                </tr>
            }
        </table>
        <br />
        <div>
            @Html.ActionLink("Add order", "AddOrder", "Order")
        </div>
    }
    else
    {
        <div>Current cart has no item...</div>
    }
    
</form>